body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

#gridContainer {
    display: grid;
    grid-template-areas:
        'most-emrg second-emrg'
        'most-emrg third-emrg'
        'most-emrg forth-emrg';
    grid-gap: 20px;
    padding: 20px;
    /* max-width: 500px; */
}

.emrg-card {
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.emrg-card h3 {
    margin: 0 0 10px;
}

.emrg-card p {
    margin: 5px 0;
}

.search-container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

#searchInput {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#filteredResults {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.result-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjusted for 5 columns */
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.result-row div {
    padding: 5px;
}

#chart-container {
    grid-area: chart;
}

#search-container {
    grid-area: search;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-areas:
    'card chart'
    'search search';
    gap: 20px;
    padding: 10px;
}

canvas {
    width: 100%;
    height: auto; /* 保持纵横比 */
}