body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #eaeaea;
}

.search-container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

#searchInput {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#filteredResults {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.result-row {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.result-row div {
    width: 30%;
    padding: 5px;
}

#observationTable { grid-area: card; }
#chart-container {
    grid-area: chart;
}

#search-container {
    grid-area: search;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    grid-template-areas:
    'card chart'
    'search search';
    gap: 20px;
    padding: 10px;
}

/* #chart-container {
    width: 40%;
    padding: 20px;
} */

canvas {
    max-width: 100%;
}